/* DESIGN SYSTEM */
:root {
  /* Cores */
  --fundo: #fafbf2;
  --fundo-claro: rgba(205, 144, 151, 0.1);
  --texto: #2f090e;
  --texto-titulo: #461117;
  --texto-primaria: #fcfdf5;
  --texto-suave: #cd9097;
  --texto-destaque: #1f0508;
  --texto-cinza: #1f05088f;
  --primaria: #9b424d; /*#1c8742*/
  --suave: #ecf1e2;
  --destaque: #f3ba26;
  --borda: #dae1d3;
  --borda-suave: #cd909770;
  --branco: #ffffff;
  --preto: #000000;

  /* Tipografia */
  --fonte-titulos: "Fraunces", serif;
  --font-texto: "Inter", sans-serif;

  /* Font-size */
  --text-sm: 1.4rem;

  /* Espaçamentos*/
  --pd: 1rem;
}

/* 3. ESTILOS GLOBAIS */
body {
  font-family: var(--font-texto);
  background-color: var(--fundo);
  color: var(--texto);
  font-size: 1.6rem;
}

.container-pai {
  max-width: 115.2rem;
  margin: 0 auto;
}

.oculto {
  display: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--fonte-titulos);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.titulo-h1 {
  font-family: var(--fonte-titulos);
  font-size: clamp(2.4rem, 2rem + 4vw, 4.5rem);
  color: var(--texto-titulo);
  letter-spacing: 0.02rem;
}

.titulo {
  font-size: clamp(3rem, 3.2rem, 3.5rem);
  letter-spacing: -0.02em;
}

.titulos-h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

/* CTA RECEITA */
.cta-receita {
  width: max-content;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: var(--branco);
  font-size: 1.4rem;
  font-family: var(--font-texto);
  line-height: 1.6;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background: var(--primaria);
  box-shadow: 0 1px 3px #1f05086e;
  transform: scale(1);
  transition: all 0.5s ease;
  will-change: transform;
}

.cta-receita:hover {
  transform: scale(0.98);
  box-shadow: none;
}

.cta-receita .svg-seta,
.cta-ver-receitas .svg-seta {
  width: 1.6rem;
  height: 1.6rem;
}

.cta-ver-receitas {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  padding-left: 1rem;
  line-height: 1.6;
  order: 10;
}

/* Form Pesquisa */
.pesquisa-receita {
  max-width: 500px;
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  gap: 1rem;
  background-color: var(--branco);
  padding: 0.8rem;
  margin-bottom: 1.6rem;
  border: 1px solid var(--borda);
  border-radius: 10px;
  box-shadow: 0 0 3px 1px #dcdcdc;
}

.pesquisa-receita .icone-pesquisa {
  width: 2rem;
  height: 2rem;
}

.pesquisa-receita .input-pesquisa {
  border: none;
  width: 100%;
  font-size: 1.4rem;
}

.pesquisa-receita .input-pesquisa:focus-visible {
  outline: none;
}

.pesquisa-receita .btn-pesquisar {
  background: var(--texto-suave);
  transition: background 0.5s ease;
  border: 1px solid var(--borda);
  color: var(--branco);
  border-radius: 1rem;
  font-size: 1.3rem;
  width: max-content;
  padding: 0.5rem 1rem;
}

.pesquisa-receita .input-pesquisa:focus-visible ~ .btn-pesquisar {
  background-color: var(--primaria);
}

/* GRID RECEITAS */
.grid-receitas {
  display: grid;
  grid-template-rows: repeat(3, minmax(360px, 1fr));
  gap: 2rem;
}

.grid-receitas a .receita-item {
  border: 1px solid var(--borda);
  border-radius: 1rem;
  background-color: var(--branco);
  height: 100%;
  transition: all 0.5s;
}

.grid-receitas a:hover .receita-item {
  box-shadow: 0 1px 3px 1px #cd90974d;
}

.grid-receitas .receita-item img {
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  object-position: center;
  height: 32rem;
  width: 100%;
}

.grid-receitas .receita-item .infos {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grid-receitas .receita-item .infos .categoria-receita {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--texto-suave);
}

.grid-receitas .receita-item .infos > p {
  font-size: 1.4rem;
  color: var(--texto-cinza);
}

.grid-receitas .receita-item .detalhes {
  display: flex;
  gap: 2rem;
}

.grid-receitas .receita-item .detalhes .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.grid-receitas .receita-item .detalhes svg {
  width: 1.2rem;
  height: 1.2rem;
  stroke: var(--texto-cinza);
}

.grid-receitas .receita-item .detalhes .item > p {
  font-size: 1.2rem;
  color: var(--texto-cinza);
  margin: 0;
}

/* BOTÃO CONTATO FLUTUANTE */
.contato-flutuante a {
  display: flex;
  justify-content: center;
  background-color: var(--branco);
  padding: 1.2rem;
  border-radius: 50%;
  position: fixed;
  bottom: 3.6rem;
  right: 3.6rem;
  z-index: 999;
  box-shadow: 0 1px 3px 1px var(--texto-cinza);
  transform: scale(1);
  transition: transform 0.5s ease;
}

.contato-flutuante a:hover {
  transform: scale(1.05);
}

.contato-flutuante svg {
  flex-shrink: 0;
  width: 3.6rem;
  height: 3.6rem;
}

/* ==========================================
   ESTILO BASE (Mobile - Telas pequenas)
   ========================================== */

/* HEADER */
.header {
  width: 100%;
  padding: 1.6rem;
  border-bottom: 1px solid #dae1d3;
  position: fixed;
  background: var(--fundo);
  box-shadow: 0 0 3px 1px #dcdcdc;
  z-index: 99;
}
.header .container-pai {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.header .logo span {
  font-family: var(--fonte-titulos);
  font-size: 2rem;
}

.header .logo svg {
  flex-shrink: 0;
  background-color: #9b424d;
  padding: 5px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  fill: #fff;
  stroke: #fff;
}

.header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .link {
  font-size: var(--text-sm);
  color: var(--texto);
  transition: color 0.5s ease;
}

.header .link:hover {
  color: var(--texto-destaque);
}

.header .menu-mobile {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.header .menu-mobile .icon-busca {
  display: flex;
}

.header .lista-menu {
  display: none;
}

.header .menu-mobile .icon-menu-mobile {
  position: relative;
  flex-shrink: 0;
}

.header .menu-mobile input#menu-hamburguer {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.header .menu-mobile .lista-menu-mobile {
  position: absolute;
  top: 4rem;
  right: 0;
  background-color: var(--fundo);
  box-shadow: 0 0 3px 1px #54545430;
  padding: 1.2rem;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  opacity: 0;
  transform: translateX(10rem);
  pointer-events: none;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
}

.header .icon-menu-mobile input#menu-hamburguer:checked ~ .lista-menu-mobile {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  z-index: 10;
}

.header .menu-mobile .lista-menu-mobile li {
  padding-block: 0.5rem;
}

.header .link {
  color: var(--texto);
  font-size: 1.6rem;
  padding: 0 1rem;
  display: inline-block;
}

.header .link:hover {
  color: var(--primaria);
}
/* fim header */

/* FOOTER */
.footer {
  display: grid;
  gap: 5rem;
  width: 100%;
  padding: 2.4rem 1.6rem 2rem;
  background: var(--fundo);
  border-top: 1px solid #dae1d3;
}
.footer .container-pai {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1rem;
  margin-bottom: 2.4rem;
}

.footer .container-item {
  width: 50%;
}

.footer .container-item.logo {
  width: 100%;
}

.footer .logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 5px;
}

.footer .logo span {
  font-family: var(--fonte-titulos);
  font-size: 2rem;
}

.footer .logo svg {
  background-color: #9b424d;
  padding: 5px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  fill: #fff;
  stroke: #fff;
}

.footer .menu .lista {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

.footer .link {
  color: var(--texto);
  font-size: 1.6rem;
  padding: 0 1rem;
  display: inline-block;
}

.footer .link:hover {
  color: var(--primaria);
}

.footer .container-item.social {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  gap: 0.8rem;
}

.footer .social p {
  font-size: 1rem;
  text-transform: uppercase;
}

.footer .social .link-social {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.footer .social .link-social svg {
  width: clamp(2rem, 2.4rem, 3rem);
  height: auto;
}

.footer .text-footer {
  font-size: 1rem;
  color: var(--texto);
  padding-inline: 1rem;
}

/* fim footer */

/* MAIN CONTEUDO */
.conteudo {
  padding-inline: 1.6rem;
  padding-block: 10rem 7.2rem;

  .container-pai {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }
  /* fim main */
}

/* HERO */
.hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  /* padding-top: 2.4rem; */
}

.hero .hero-item {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.hero .hero-item.imagem {
  order: -1;
}

.hero .hero-item .selo {
  background-color: var(--fundo-claro);
  color: var(--texto);
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  width: max-content;
  text-transform: uppercase;
}

.hero .hero-item .titulo {
  font-size: clamp(3rem, 4rem, 5rem);
  max-width: 40rem;
}

.hero .hero-item .destaque {
  color: var(--primaria);
}

.hero .hero-item p {
  max-width: 500px;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

.hero .hero-item #form-pesquisa {
  scroll-margin-top: 10rem;
}

.hero .hero-item .cta-receita {
  display: none;
}

.hero .hero-item .img-hero {
  border-radius: 1rem;
  height: 36rem;
    object-fit: cover;
}

/* fim hero */

/* RECEITA DIA */
.receita-dia {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  background-color: var(--fundo-claro);
  border: 1px solid var(--borda-suave);
  border-radius: 1rem;
}

.receita-dia .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.receita-dia hgroup h2 {
  font-family: var(--font-texto);
  font-size: 1.4rem;
  color: var(--texto-suave);
  text-transform: uppercase;
  padding-bottom: 1rem;
  letter-spacing: 0.02rem;
}

.receita-dia hgroup h3 {
  font-size: clamp(3rem, 3.2rem, 3.5rem);
}

.receita-dia .detalhes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.receita-dia .detalhes .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  background-color: var(--branco);
  border: 1px solid var(--borda);
  border-radius: 50px;
  padding: 0.3rem 1.2rem;
}

.receita-dia .detalhes .item svg {
  width: 1.3rem;
  height: 1.3rem;
  stroke: var(--texto-cinza);
}

.receita-dia .detalhes .item p {
  font-size: 1.3rem;
  max-width: 500px;
  color: var(--texto-cinza);
}

.receita-dia .img-receita img {
  border-radius: 1rem 1rem 0 0;
  height: 36rem;
  object-fit: cover;
  width: 100%;
}

/* DESTAQUE SEMANA */
.destaques {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.destaques p {
  margin-bottom: 1rem;
}

/*fim destaques*/

/* CATEGORIAS */
.categorias {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.categorias p {
  margin-bottom: 1rem;
}

.categorias .grid-categorias {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.categorias .grid-categorias a .categoria-item {
  display: flex;
  flex-direction: column;
  background-color: var(--branco);
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--borda);
  height: 100%;
}

.categorias .grid-categorias a:hover .categoria-item {
  box-shadow: 0 1px 3px 1px #cd90974d;
}

.categorias .categoria-item h3 {
  padding-bottom: 0.5rem;
}

.categorias .categoria-item p {
  font-size: 1.4rem;
  color: var(--texto-cinza);
}

.categorias .icone-categoria {
  padding: 1rem;
  background-color: var(--fundo-claro);
  width: max-content;
  border-radius: 1.6rem;
  margin-bottom: 1.2rem;
}
.categorias .icone-categoria svg {
  stroke: var(--primaria);
}
/* fim categorias*/

/* SOBRE */
.banner-sobre {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #9b424d2e;
  border: 1px solid var(--borda-suave);
  border-radius: 1rem;
}

.banner-sobre .img-banner img {
  border-radius: 1rem;
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 2px 5px var(--borda-suave);
}

.banner-sobre .conteudo-banner {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* fim sobre */

/* NEWSLETTER  */
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  padding: 2rem;
  background-color: var(--primaria);
  border-radius: 1rem;
  color: var(--branco);
}
.newsletter .emblema {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #cd909752;
  padding: 0.5rem 1.2rem;
  border-radius: 1rem;
}

.newsletter .emblema h2 {
  font-family: var(--font-texto);
  font-size: 1.4rem;
  color: var(--branco);
  font-weight: 300;
  letter-spacing: 0.02rem;
}

.newsletter .emblema .svg-mailbox {
  width: 1.6rem;
  height: 1.6rem;
  stroke: var(--branco);
}

.newsletter h3 {
  font-size: 3rem;
}

.newsletter .form-newsletter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.newsletter .form-newsletter input {
  max-width: 500px;
  width: 100%;
  padding: 0.8rem;
  border-radius: 1rem;
  border: none;
  text-align: center;
}

.newsletter .form-newsletter input[type="submit"] {
  background-color: var(--texto-suave);
  color: var(--branco);
  box-shadow: 0 1px 2px 1px #1f050845;
  transform: scale(1);
  transition: all 0.5s ease;
  will-change: transform;
}

.newsletter .form-newsletter input[type="submit"]:hover {
  cursor: pointer;
  transform: scale(0.98);
  box-shadow: none;
}

/* fim newsletter */

/*===========================================*/

/* Página Receitas - Catalogo */

.section-categorias {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
}

.section-categorias > p {
  color: var(--texto-cinza);
}

.section-categorias .form-pesquisa {
  margin-block: 2rem;
}

.bloco-categorias {
  display: grid;
  gap: 6rem;
}

.bloco-categorias .grid-receitas {
  grid-template-rows: auto 1fr 1fr 1fr;
}

.bloco-categorias .titulo-categoria {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #1f050836;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

.bloco-categorias .titulo-categoria h2 {
  font-size: 2.4rem;
}

.bloco-categorias .titulo-categoria span {
  font-size: 1.5rem;
  color: var(--texto-cinza);
}

/*=============================================*/
/* Página Receita Interna */
.artigo-receita {
  display: grid;
  gap: 4.8rem;
}

.artigo-receita .cta-ver-receitas {
  color: var(--texto-cinza);
  padding: 0;
  margin-bottom: -20px;
  width: max-content;
  order: -1;
}

.hero-receita {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 3rem;
}

.hero-receita .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.hero-receita .infos .categoria-receita {
  font-family: var(--font-texto);
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--fundo-claro);
  color: var(--primaria);
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  width: max-content;
  text-transform: uppercase;
}

.hero-receita .infos > p {
  margin-bottom: 2rem;
}

.hero-receita .detalhes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.hero-receita .detalhes .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  background-color: var(--branco);
  border: 1px solid var(--borda);
  border-radius: 50px;
  padding: 0.3rem 1.2rem;
}

.hero-receita .detalhes .item svg {
  width: 1.3rem;
  height: 1.3rem;
  stroke: var(--texto-cinza);
}

.hero-receita .detalhes .item p {
  font-size: 1.3rem;
  max-width: 500px;
  color: var(--texto-cinza);
}

.hero-receita .img-receita {
  order: -1;
}

.hero-receita .img-receita img {
  border-radius: 1rem;
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.midia {
  display: grid;
  gap: 3rem;
}

.midia .video video {
  border-radius: 1rem;
  height: 330px;
  background: var(--fundo-claro);
  border: 1px solid var(--borda-suave);
  object-fit: cover;
  object-position: center;
}

.midia .audio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  background-color: var(--branco);
  padding: 2rem;
  border-radius: 1rem;
  /* border: 1px solid var(--borda-suave); */
  border: 1px solid var(--borda);
}

.midia .audio .icone-audio {
  padding: 1rem;
  background-color: var(--fundo-claro);
  width: max-content;
  border-radius: 1.6rem;
  margin-bottom: 2rem;
}

.midia .audio p {
  color: var(--texto-cinza);
  font-size: 1.4rem;
  margin-top: 1rem;
}

.modo-preparo {
  display: grid;
  gap: 3rem;
}

.modo-preparo h2 {
  margin-bottom: 1.6rem;
}

.modo-preparo .ingredientes ul {
  display: inline-flex;
  flex-direction: column;
  padding-inline-start: 1rem;
}

.modo-preparo .ingredientes li {
  list-style-type: none;
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding-block: 1rem;
  width: 100%;
  background-color: var(--fundo-claro);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  transition: background-color 0.5s ease;
}

.modo-preparo .ingredientes li:hover {
  background-color: #cd909742;
}

.modo-preparo .ingredientes input {
  width: 1.6rem;
  height: 1.6rem;
}

.modo-preparo .ingredientes label {
  line-height: 1;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

.modo-preparo .ingredientes input:checked + label {
  color: var(--texto-cinza);
  text-decoration: line-through;
}

.modo-preparo .passos ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modo-preparo .passos ul li {
  display: flex;
  gap: 1rem;
}

.modo-preparo .passos ul li span {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: var(--fonte-titulos);
  color: var(--primaria);
  background-color: var(--fundo-claro);
  border-radius: 50%;
  padding: 1rem;
  line-height: 1;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}

.modo-preparo .passos ul li:hover span {
  background-color: #cd909742;
}

.modo-preparo .passos ul li input {
  position: absolute;
  left: -5000px;
}

.modo-preparo .passos label {
  font-size: 1.6rem;
  padding-top: 6px;
}

.modo-preparo .passos input:checked + label {
  color: var(--texto-cinza);
  text-decoration: line-through;
}

.modo-preparo .passos ul li p {
  padding-top: 6px;
}

.tabela {
  background-color: var(--branco);
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--borda-suave);
}

.tabela table {
  width: 100%;
  border-collapse: collapse;
}

.tabela caption {
  text-align: left;
}

.tabela caption p {
  font-size: 1.4rem;
  color: var(--texto-cinza);
  margin-block: 0.6rem 2.4rem;
}

.tabela thead {
  border-bottom: 1px solid var(--borda-suave);
}

.tabela thead tr {
  background-color: var(--fundo-claro);
}

.tabela th,
.tabela td,
.tabela tr {
  padding: 0.5rem;
}

.tabela thead th {
  color: var(--texto-suave);
  font-weight: 400;
  font-size: 1.5rem;
  text-align: left;
}

.tabela tbody th {
  font-weight: 600;
  color: var(--texto-suave);
  font-size: 1.5rem;
  text-align: left;
}

.tabela tbody tr td {
  padding-inline: 1rem;
  font-weight: 600;
}

.tabela tbody tr:nth-child(even) {
  background-color: var(--fundo-claro);
}

/*=============================================*/
/* Página Sobre */

#pagina-sobre .conteudo .container-pai {
  gap: 4rem;
}

.header-sobre h1 {
  font-family: var(--font-texto);
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primaria);
  margin-bottom: 1.2rem;
}

.header-sobre p {
  font-family: var(--fonte-titulos);
  font-size: clamp(2.4rem, 2rem + 4vw, 4.5rem);
  color: var(--texto);
  line-height: 1;
  letter-spacing: 0.02em;
}

.conteudo-sobre {
  display: grid;
  gap: 2rem;
}

.conteudo-sobre .texto-sobre {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.conteudo-sobre img {
  border-radius: 1rem;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.conteudo-sobre figure {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.conteudo-sobre figcaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0.8rem;
}

.conteudo-sobre .nome {
  font-family: var(--fonte-titulos);
  color: var(--texto);
  font-size: 2rem;
  text-align: left;
}

.conteudo-sobre .profissao {
  color: var(--texto);
  font-size: 1.4rem;
  color: var(--texto-cinza);
  text-align: left;
}

.conteudo-sobre .texto-sobre {
  padding-inline: 0.8rem;
}

.conteudo-sobre p {
  font-size: 1.65rem;
}

.conteudo-sobre blockquote {
  border-left: 4px solid var(--primaria);
  border-radius: 0.2rem;
  padding-left: 1.4rem;
  color: var(--texto-cinza);
  font-size: 1.8rem;
  font-style: italic;
}

/*=============================================*/
/* Página Contato */
#pagina-contato .titulo-topo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#pagina-contato .texto-decor {
  font-family: var(--font-texto);
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primaria);
  text-align: center;
}

#pagina-contato h1 {
  text-align: center;
}

#pagina-contato .titulo-topo p {
  font-family: var(--font-texto);
  color: var(--texto-cinza);
  font-size: 1.6rem;
  text-align: center;
}

.formularios {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--branco);
  padding: 2.2rem;
  border: 1px solid var(--borda);
  border-radius: 1rem;
  position: relative;
}

.formularios::before {
  content: "";
  background-color: #cd90979c;
  border-radius: 1rem;
  width: 90%;
  height: 46px;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}

.formularios input[type="radio"].btn-alternar  {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.formularios .label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 136px;
  width: 100%;
  background-color: var(--fundo-claro);
  border-radius: 1rem;
  padding: 0.6rem 1rem;
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
  cursor: pointer;
  z-index: 10;
  color: var(--texto-cinza);
}

.formularios .label:nth-child(2) {
  justify-self: flex-end;
}
.formularios .label:nth-child(4) {
  justify-self: flex-start;
}

#form-contato:checked + label,
#form-receita:checked + label {
  color: var(--branco);
  background-color: var(--primaria);
}

.formularios .label svg {
  width: 1.6rem;
  height: 1.6rem;
}

.formularios .enviar {
  display: none;
}

#form-contato:checked ~ #enviar-contato,
#form-receita:checked ~ #enviar-receita {
  display: grid;
  grid-column: span 2;
  gap: 2rem;
}

.formularios .enviar form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.formularios .campo {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.formularios .campo label,
.formularios #enviar-receita .label-radios {
  font-size: 1.4rem;
  font-weight: 500;
}

.formularios .campo input[type="text"],
.formularios .campo input[type="email"],
.formularios .campo select,
.formularios .campo textarea {
  font-size: 1.5rem;
  padding: 0.8rem 1.2rem;
  border-radius: 1rem;
  border: 1px solid var(--borda);
  box-shadow: 0 1px 2px 1px #cd909736;
}

.formularios #enviar-contato input::placeholder,
.formularios #enviar-receita input::placeholder{
  color:#5a5a5a8f;
  font-size: 1.4rem;
}

.formularios #enviar-receita .label-radios{
  margin-bottom: 1rem;
}

.formularios .wrap-inputs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.formularios .wrap-inputs .radio{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .8rem;
}

.formularios .wrap-inputs .radio input{
  width: 14px;
  height: 14px;
}


.formularios .wrap-inputs .radio label{
  color: #2f090eb3;
}

.formularios .wrap-inputs .radio input:checked + label{
  color: var(--texto)
}

.formularios .campo input:focus-visible,
.formularios .campo textarea:focus-visible {
  outline: none;
  border: 1px solid var(--primaria);
}

.formularios input[type="submit"] {
  background-color: rgba(243, 186, 38, 0.85);
  transition: background-color 0.5s ease;
  border: 1px solid rgb(243, 186, 38);
  border-radius: 1rem;
  padding: 0.8rem 1.2rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  transform: scale(1);
  transition: all 0.5s ease;
}

.formularios input[type="submit"]:hover {
  background-color: rgba(243, 186, 38, 1);
  transform: scale(0.98);
  cursor: pointer;
}

/* ==========================================
   MEDIA QUERIES (Telas a partir de 640)
========================================== */
@media (min-width: 640px) {
  /* CATEGORIAS */
  .categorias {
    .grid-categorias {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

/* ==========================================
   MEDIA QUERIES (Telas a partir de 768px)
========================================== */

@media (min-width: 768px) {
  /* HEADER */
  .header {
    padding: 1.6rem;
  }
  .header .menu-mobile {
    display: none;
  }

  .header .lista-menu {
    display: flex;
    gap: 1rem;
  }

  .header .link {
    font-size: 1.6rem;
  }

  /* FOOTER */
  .footer {
    padding: 3.6rem;
    gap: 1rem;
  }
  .footer .container-pai {
    flex-direction: column;
    gap: 2.4rem;
  }

  .footer .container-item {
    width: 100%;
  }

  .footer .container-item.logo a {
    max-width: max-content;
    margin: 0 auto;
  }

  .footer .container-item.menu .lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer .container-item.social {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer .text-footer {
    padding-top: 3rem;
    display: block;
    text-align: center;
  }

  /* MAIN CONTEUDO */
  .conteudo {
    padding-inline: 2rem;
    padding-block: 12rem 8rem;
  }

  /* HERO */
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.6rem;
    padding-top: 1.6rem;
  }
  .hero .hero-item.imagem {
    order: initial;
  }
  .hero .hero-item .img-hero {
    border-radius: 1rem;
    height: 420px;
    object-fit: cover;
    border: 1px solid var(--borda-suave);
    padding: 0.2rem;
  }

  .hero .hero-item #form-pesquisa {
    scroll-margin-top: 0;
  }

  .hero .hero-item .cta-receita {
    display: flex;
  }

  /* RECEITA DIA */
  .receita-dia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
  .receita-dia infos {
    padding: 4.8rem;
  }

  .receita-dia .img-receita img {
    border-radius: 0 1rem 1rem 0;
    padding: 0.2rem;
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: center;
  }

  /* DESTAQUES SEMANA */
  .destaques {
    position: relative;
  }
  .destaques .cta-ver-receitas {
    display: flex;
    position: absolute;
    right: 0;
    top: 4.8rem;
  }

  .grid-receitas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-receitas .receita-item .detalhes .item {
    flex-direction: column;
    align-items: flex-start;
  }

  /* CATEGORIAS */
  .categorias .grid-categorias {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  /* SOBRE */
  .banner-sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
    padding: 3rem;
  }
  .img-banner img {
    height: 500px;
  }

  /* NEWSLETTER  */
  .newsletter {
    padding: 3.6rem;
    align-items: center;

    .form-newsletter {
      max-width: 500px;
      display: grid;
      grid-template-columns: 1fr 100px;
    }
  }

  /* ----------------------- */
  /* PÁGINA RECEITAS */
  .bloco-categorias .grid-receitas {
    grid-template-rows: auto 1fr;
  }

  .bloco-categorias .grid-receitas .titulo-categoria {
    grid-column: span 3;
  }

  /* ----------------------- */
  /* PÁGINA RECEITA INTERNA */
  .hero-receita {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .hero-receita .img-receita {
    order: 0;
  }

  .hero-receita .img-receita img {
    border: 1px solid var(--borda-suave);
    padding: 0.2rem;
    height: auto;
  }

  .midia {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
  }

  .midia .video {
    grid-column: span 2 / span 2;
  }

  .midia .video video {
    height: 440px;
  }

  .midia .audio audio {
    width: 100%;
  }

  .modo-preparo {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }

  .tabela {
    width: 50%;
  }

  /* ----------------------- */
  /* PÁGINA RECEITAS */
  #pagina-sobre .conteudo .container-pai {
    gap: 4rem;
    max-width: 86.4rem;
  }
  .conteudo-sobre {
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
  }
  .conteudo-sobre figure,
  .conteudo-sobre figcaption {
    align-items: center;
  }

  .conteudo-sobre .nome,
  .conteudo-sobre .profissao {
    text-align: center;
  }

  /* ----------------------- */
  /* PÁGINA CONTATO */
  .formularios::before {
    width: 55%;
  }

  /* Fim Media 768px */
}

/* ==========================================
   MEDIA QUERIES (Telas a partir de 1024px)
========================================== */

@media (min-width: 1024px) {
  .hero-receita .infos h1,
  .hero-receita .infos p {
    max-width: 440px;
  }
}
