<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <header class="header">
        <div class="container-wrap">
            <div class="logo">
                <a href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-leaf size-5" aria-hidden="true">
                        <path d="M11 20A7 7 0 0 1 9.8 6.1C15.5 5 17 4.48 19 2c1 2 2 4.18 2 8 0 5.5-4.78 10-10 10Z"></path>
                        <path d="M2 21c0-3 1.85-5.36 5.08-6C9.5 14.52 12 13 13 12"></path>
                    </svg>
                    <h1>Receitaria</h1>
                </a>
            </div>
            <nav class="menu">
                <ul class="lista">
                    <li class="menu-item pagina-atual"><a href="/" class="link">Início</a></li>
                    <li class="menu-item"><a href="/paginas/receitas.html" class="link">Receitas</a></li>
                    <li class="menu-item"><a href="/paginas/sobre.html" class="link">Sobre</a></li>
                    <li class="menu-item"><a href="/paginas/contato.html" class="link">Contato</a></li>
                    <li class="menu-item"><a href="#busca" class="link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search">
                            <path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/>
                        </svg>
                    </a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>